<!-- 

<form class="form-group container" (ngSubmit)="agregar()" #miFormulario="ngForm">
    <div 
        *ngIf="miFormulario.invalid && miFormulario.touched" 
        class="alert alert-danger d-flex align-items-center"  
        role="alert"
    >
        <i class="bi bi-exclamation-triangle-fill"></i>
        <div>Error: Formulario inválido</div>
    </div>

    <div>
        <label for="proyecto">Proyecto</label>
        <input 
            autocomplete="off" 
            class="form-control" 
            type="text" 
            id="proyecto" 
            placeholder="Nombre del proyecto"
            [(ngModel)]="initialSate.proyecto"
            name="proyecto"
            minlength="3"
            maxlength="15"
        >
    </div>
    

    <div>
        <label for="horas">Horas</label>
        <input 
            class="form-control" 
            type="number" 
            id="horas" 
            placeholder="Horas para completar "
            [(ngModel)]="initialSate.horas"
            name="horas"
            required
            required
            min="0"
            max="25"
        >
    </div>
    

    <div>
        <label for="tecnologias">Tecnologías</label>
        <div class="row">
            <div class="col-8">
                <input 
                    autocomplete="off" 
                    class="form-control" 
                    type="text" 
                    id="tecnologias" 
                    placeholder="Nombre de la tecnología"
                    [(ngModel)]="initialSate.tecnologias"
                    name="tecnologias"
                    minlength="3"
                    maxlength="15"
                >    
            </div>
            <div class="col-4">
                <button (click)="agregarTec()" type="button" class="btn btn-success">Agregar</button>
            </div>
            <div class="col-12 my-2">
                <ul class="list-group list-group-horizontal" >
                    <li *ngFor="let t of tecnologiasArray" class="list-group-item">{{t}}</li>
                </ul>
            </div>
        </div>
    </div>
    

    <div>
        <button class="btn btn-warning mt-2 w-100" type="submit">Agregar proyecto</button>
    </div>
</form>

<!-- <pre>
    Proyecto: {{ proyectosArray | json }}
    Valido: {{ miFormulario.valid }}
    Errores proyecto: {{ miFormulario.controls["proyecto"]!.errors | json}}
    Errores horas: {{ miFormulario.controls["horas"]!.errors | json}}
</pre> 

<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Proyecto</th>
              <th scope="col">Horas</th>
              <th scope="col">Tecnologías</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let p of proyectosArray; let i = index ">
              <th scope="row">{{i+1}}</th>
              <td>{{p.proyecto}}</td>
              <td>{{p.horas}}</td>
              <td>{{p.tecnologias}}</td>
            </tr>
          </tbody>
    </table>
</div> -->
