<!-- <form class="form-group container" autocomplete="off">
    <div>
        <label for="proyecto">Proyecto</label>
        <input class="form-control" type="text" id="proyecto" placeholder="Nombre del proyecto">
    </div>
    

    <div>
        <label for="horas">Horas</label>
        <input class="form-control" type="number" id="horas" placeholder="Horas para completar ">
    </div>
    

    <div>
        <label for="tecnologias">Tecnologías</label>
        <input class="form-control" type="text" id="tecnologias" placeholder="Nombre de la tecnología">
    </div>
    

    <div>
        <button class="btn btn-warning mt-2 w-100" type="submit">Agregar proyecto</button>
    </div>
</form>
 -->
<p>works!</p>