<div class="row">
    <div class="col-12 col-md-6 p-2">
        <h2>Pipes de textos</h2>
        <hr/>
        <app-texto></app-texto>
    </div>
    <div class="col-12 col-md-6 p-2">
        <h2>Pipes de números</h2>
        <hr/>
        <app-numeros></app-numeros>
    </div>
    <div class="col-12 col-md-6 p-2">
        <h2>Pipes de fecha</h2>
        <hr/>
        <app-fecha></app-fecha>
    </div>
    <div class="col-12 col-md-6 p-2">
        <h2>Pipes de JSON</h2>
        <hr/>
        <app-json></app-json>
    </div>
    <div class="col-12 col-md-6 p-2">
        <h2>Pipes de Key Value</h2>
        <hr/>
        <app-key-value></app-key-value>
    </div>
    <div class="col-12 col-md-6 p-2">
        <h2>Pipes de Slice</h2>
        <hr/>
        <app-slice></app-slice>
    </div>
    <div class="col-12 col-md-6 p-2">
        <h2>Pipes de i18nSelect</h2>
        <hr/>
        <app-i18n-select></app-i18n-select>
    </div>
    <div class="col-12 col-md-6 p-2">
        <h2>Pipes de i18Plural</h2>
        <hr/>
        <app-i18n-plural></app-i18n-plural>
    </div>
    <div class="col-12 p-2">
        <h2>Pipes de Async</h2>
        <hr/>
        <app-async></app-async>
    </div>
</div>