<div class="row">
  <div *ngFor="let p of data" class="col-12 col-md-4">
    <div class="card m-2" style="width: 18rem;">
      <img [src]="p.img" class="card-img-top" [alt]="p.nombre">
      <div class="card-body">
        <h5 class="lead">{{p.nombre}}</h5>
        <div>
          <a target="_blank" [href]="p.url" class="btn btn-secondary w-100">Visualizar aplicación</a>
        </div>
        <div class="mt-2">
          <a [routerLink]="'informacion/' + getURI(p.nombre)" class="btn btn-info w-100">Ver detalles</a>
        </div>
      </div>
    </div>
  </div>
</div>
